$grey-dark: #282e42;
$grey: #657189;
$gull-gray: #9ca7bb;
$grey-light: #ebf0f4;
$link-water: #e5effa;
$botticelli: #dae4ee;

$white: #fff;
$black: #000;

$purple: #9e419c;

$orange: #ff952d;

$red: #ff0000;

$blue: #44b9f6;
$blue-light: #00c4e6;